pipeline/ChallangeCaseDay5-DataIntegration.json
{
	"name": "ChallangeCaseDay5-DataIntegration",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split(replace(activity('Lookup1').output.firstRow.concatenated_files, '\\', ''), ',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "transfer data google storage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "GoogleCloudStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Binary_GoogleCloudStorage",
									"type": "DatasetReference",
									"parameters": {
										"bucket_name": "azure_data_engineer",
										"directory_name": "image",
										"file_name": {
											"value": "@concat(item(),'.png')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Binary_GoogleToADLS",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "development",
										"folder_name": "data",
										"file_name": {
											"value": "@concat(item(),'.png')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Success log",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "transfer data google storage ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SQL_nabila",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "@concat('INSERT INTO dbo.image (image_name, image_url) VALUES (''',concat(item(),'.png'), ''', ''https://storageacchanif.blob.core.windows.net/development/data/',concat(item(),'.png')''');')"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Failed log",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "transfer data google storage ",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SQL_nabila",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "@concat('INSERT INTO dbo.image (image_name, image_url) VALUES (''', concat(item(),'.png'), ''', ''failed', ''');')"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \n    STRING_AGG(image_name,',') AS concatenated_files\nFROM list_image;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Hanif_List_Image",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "-",
							"table_name": "-"
						}
					}
				}
			}
		],
		"annotations": []
	}
}